<div>
    <h2 id="page-heading">
        <span jhiTranslate="financialdashboardApp.transactionIng.home.title">Transaction Ings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transaction-ing" [routerLink]="['/transaction-ing/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="financialdashboardApp.transactionIng.home.createLabel">
            Create new Transaction Ing
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="transactionIngs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="financialdashboardApp.transactionIng.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="financialdashboardApp.transactionIng.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="myBankAccount"><span jhiTranslate="financialdashboardApp.transactionIng.myBankAccount">My Bank Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contraBankAccount"><span jhiTranslate="financialdashboardApp.transactionIng.contraBankAccount">Contra Bank Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="financialdashboardApp.transactionIng.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sign"><span jhiTranslate="financialdashboardApp.transactionIng.sign">Sign</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="financialdashboardApp.transactionIng.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mutation"><span jhiTranslate="financialdashboardApp.transactionIng.mutation">Mutation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="financialdashboardApp.transactionIng.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendorId"><span jhiTranslate="financialdashboardApp.transactionIng.vendor">Vendor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bankAccountId"><span jhiTranslate="financialdashboardApp.transactionIng.bankAccount">Bank Account</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reportingCategoryId"><span jhiTranslate="financialdashboardApp.transactionIng.reportingCategory">Reporting Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let transactionIng of transactionIngs ;trackBy: trackId">
                <td><a [routerLink]="['/transaction-ing', transactionIng.id, 'view' ]">{{transactionIng.id}}</a></td>
                <td>{{transactionIng.date}}</td>
                <td>{{transactionIng.name}}</td>
                <td>{{transactionIng.myBankAccount}}</td>
                <td>{{transactionIng.contraBankAccount}}</td>
                <td>{{transactionIng.code}}</td>
                <td jhiTranslate="{{'financialdashboardApp.Sign.' + transactionIng.sign}}">{{transactionIng.sign}}</td>
                <td>{{transactionIng.amount}}</td>
                <td>{{transactionIng.mutation}}</td>
                <td>{{transactionIng.description}}</td>
                <td>
                    <div *ngIf="transactionIng.vendorId">
                        <a [routerLink]="['../vendor', transactionIng.vendorId , 'view' ]" >{{transactionIng.vendorId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transactionIng.bankAccountId">
                        <a [routerLink]="['../bank-account', transactionIng.bankAccountId , 'view' ]" >{{transactionIng.bankAccountId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="transactionIng.reportingCategoryId">
                        <a [routerLink]="['../reporting-category', transactionIng.reportingCategoryId , 'view' ]" >{{transactionIng.reportingCategoryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/transaction-ing', transactionIng.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transaction-ing', transactionIng.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'transaction-ing/'+ transactionIng.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
